.profile {
    font-size: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #CCC;
    overflow: hidden;
}

.profile,
.profile__details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__avatar {
    display: block;
    border-radius: 9000px;
    background: red;
    object-fit: cover;
    overflow: hidden;
    margin: 1.5em 0;
    width: 25%;
}

.profile__username,
.profile__tag,
.profile__location {
    margin: 0.25em;
}

.profile__username {
    font-weight: 500;
}

.profile__tag,
.profile__location {
    font-weight: 300;
    margin: 0.25em;
    opacity: 0.5;
}

.profile__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EEE;
    margin: 32px 0 0 0;
    padding: 32px;
    width: 100%;
}

.profile__stats-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 8px 32px;
}

.profile__stats-item:first-child {
    padding-left: 0;
}

.profile__stats-item:last-child {
    padding-right: 0;
}

.profile__stats-item:not(:last-child) {
    border-right: 1px solid #CCC;
}

.profile__stats-label,
.profile__stats-value {
    display: block;
}

.profile__stats-label {
    font-weight: 300;
}